body{
    height: 1000px;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.tablink{
    float: left;
    background-color: #555;
    cursor: pointer;
    border:none;
    outline: none;
    padding: 14px 16px;
    font-size: 18px;
    width: 25%;    
}
.tablink:hover {
    background-color: #777;
  }
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}